.question-overlay{
    background-image: url('../../../assets/b028a2493053bcd5537605a92d15593e.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    height: 100vh;
    color: white;
    position: relative;
    .question {
        
        width: 900px;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: rgb(12, 113, 207);
        border-radius: 5px;
        box-shadow: 2px 2px 2px rgb(41, 74, 105);
        p {
            font-size: 30px;
            text-align: center;
        }
        form {
            label {
                display: block;
                font-size: 20px;
                padding: 20px;
                &:hover {
                    background-color: rgb(28, 74, 117);
                    cursor: pointer;
                }

                input {
                    visibility: hidden;
                }
            }
            
        }

        @media(max-width:990px) {
           width: 100%;
        }

        @media(max-width:767px) {
            p {
                font-size: 25px;
                text-align: left;
            }
         }
    }

    .answer_correct {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
        border-radius: 5px;
        font-weight: bold;
    }

}


